<div class="news">
  <h2>Announcements</h2>
  {% if site.announcements %}
    <table>
    {% assign announcements = site.announcements | reverse %}
    {% for item in announcements limit: site.announcements_limit %}
      <tr>
        <td class="date">{{ item.date | date: "%b %-d, %Y" }}</td>
        <td class="announcement">
          {% if item.inline %}
            {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
          {% else %}
            <a class="announcements-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    <p>No announcements so far...</p>
  {% endif %}
</div>
