<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1" style="width:200px;">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2" style="width:200px;">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>&copy; Copyright {{ site.time | date: "%Y" }} Carnegie Mellon University. <br />
        {{ site.footer_text }}</p>
      </div>
    </div>

  </div>

</footer>
