<link rel="stylesheet" href="/mmml-course/assets/css/header_styles.css">
<script src="/mmml-course/assets/js/header_scripts.js"></script>

<header class="site-header">
    <div class="wrapper">
        <div class="header-flex">
            <div class="dropdown">
                <button onclick="toggleDropdown()" class="dropbtn">11-777 MMML</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="/mmml-course/fall2023/">Fall2023</a>
                    <a href="/mmml-course/fall2022/">Fall2022</a>
                    <a href="/mmml-course/fall2020/">Fall2020</a>
                </div>
            </div>
        </div>
    </div>
</header>