---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.description %}
    <h2 class="post-description">{{ page.description }}</h2>
    {% endif %}
  </header>

  <article class="post-content {{page.title}} clearfix">
    <table class="table table-hover">
      <colgroup>
        <col style="width:5%">
        <col style="width:80%">
        <col style="width:15%">
      </colgroup>
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Project</th>
          <th scope="col">Link</th>
        </tr>
      </thead>
      <tbody>
        {{ content }}
      </tbody>
    </table>
  </article>

</div>
